{% extends 'base_layout.html' %}

{% block content %}

<div>
    <h1>My Alerts</h1>
    {% if alerts %}
        <ul>
            {% for alert in alerts %}
                <li>
                    <a href="{% url 'stocks:stock_detail' alert.symbol %}">
                        {{ alert.symbol }} - {{ alert.price }}
                    </a>
                    <form method="post" action="{% url 'stocks:delete_alert' alert.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no alerts.</p>
    {% endif %}
</div>

{% endblock %}